.home {
  height: 100vh;
  align-items: center;
  background-size: cover;
 overflow: hidden;
}

.home__content {
  display: flex;
  justify-content: center;
}
.image {
  width: 100vw;
  height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  transform: translatey(-10%);
}

.nav__arrows {
  cursor: pointer;
  z-index: 3;
  position: absolute;
  bottom: 17%;
  display: flex;
  gap: 20px;
  left: 23%;
}
.left-arrow {
  width: 60px;
  height: 60px;
  user-select: none;
  border-radius: 50%;
  border: 1px solid red;
  padding: 5px;
  opacity: 40%;
  transform: scale(0.8);
}

.left-arrow-active {
  opacity: 1;
  width: 60px;
  height: 60px;
  user-select: none;
  border-radius: 50%;
  border: 1px solid red;
  padding: 5px;
}
.right-arrow {
  width: 60px;
  height: 60px;
  user-select: none;
  border: 1px solid red;
  border-radius: 50%;
  padding: 5px;
  opacity: 40%;
  transform: scale(0.8);
}
.right-arrow-active {
    width: 60px;
    height: 60px;
    user-select: none;
    border: 1px solid red;
    border-radius: 50%;
    padding: 5px;
    opacity: 1;
}

.slide {
  opacity: 0;
  transition-duration: 3s ease;
}

.slideactive {
  opacity: 1;
  transition-duration: 3s;
  z-index: 2;
}

.car__des {
  background-color: white;
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  bottom: 20%;
  right: 20%;
  z-index: 11;
  padding-inline: 10px;
  opacity: 60%;
  backdrop-filter: 20px;
  animation: 1s loaddes forwards;
  animation-iteration-count: 1;
  transition: 1.2s all ease;
  
}

.car__des h5::after {
  content: "";
  width: 30%;
  height: 2px;
  display: block;
  background-color: red;
}

.slide__num {
  position: absolute;
  left: 10%;
  bottom: 10%;
  z-index: 11;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.slide__num hr {
  margin-left: 5px;
  margin-right: 5px;
}

.num__up {
  color: white;
  font-size: 48px;
}

.name__down::before {
  content: "";
  position: absolute;
  background-color: white;
  transform: rotate(197deg);
  width: 2px;
  height: 39px;
  opacity: 0.4;
  left: -5px;
  transform: translateY();
}

.name__down {
  color: gray;
  opaacity: 0.7;
  font-size: 28px;
  line-height: 28px;
  transform: translate(8px, 39px);
}

@keyframes loaddes {
  from{
     transform: translateY(500px);
     opacity: 0;
     overflow: hidden;
  }
  to {

    transform: translateY(0);
    opacity: 1;
    overflow: hidden;

  }
  
}
